{% extends 'base.html' %}
{% block title %}E-mail Enviado{% endblock %}
{% block content %}
<div class="registration-container">
    <div class="registration-panel" style="text-align: center;">
        <h1 class="page-title">Verifique seu E-mail</h1>
        <p style="font-size: 1.2rem; line-height: 1.6;">
            As instruções para a recuperação da sua senha foram enviadas.
            <br><br>
            Se uma conta com o e-mail que você digitou existir em nosso sistema, você receberá o e-mail em breve. Por favor, verifique também sua caixa de spam.
        </p>
    </div>
</div>
{% endblock %}