{% extends 'base.html' %}
{% block title %}Senha Alterada{% endblock %}
{% block content %}
<div class="registration-container">
    <div class="registration-panel" style="text-align: center;">
        <h1 class="page-title">Senha Alterada!</h1>
        <p style="font-size: 1.2rem;">Sua senha foi alterada com sucesso. Você já pode fazer o login com sua nova senha.</p>
        <a href="{% url 'login' %}" class="grid-item dark" style="width: 60%; max-width: 300px; margin: 20px auto 0 auto; text-decoration: none;">Ir para Login</a>
    </div>
</div>
{% endblock %}